* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.card {
    color: #1A1A1A;
    text-align: center;
    max-width: 680px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    border: 1px solid #6c6c6c;
}

@media (max-width: 680px) {
    .card { border: none; }
}

.card .header {
    background-image: url(../assets/images/fasten_up.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 60px;
}
.card a {
    color: #1A1A1A;
    text-decoration: none;
}
.card a:hover {
    text-decoration: underline;
}
.card h1 {
    font-size: 30px;
    line-height: 40px;
}
.card h2 {
    font-size: 24px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}